@using System.Security.Claims

<!DOCTYPE html>

<!-- =========================================================
* Sneat - Bootstrap 5 HTML Admin Template - Pro | v1.0.0
==============================================================

* Product Page: https://themeselection.com/products/sneat-bootstrap-html-admin-template/
* Created by: ThemeSelection
* License: You must have a valid license purchased in order to legally use the theme for your project.
* Copyright ThemeSelection (https://themeselection.com)

=========================================================
 -->
<!-- beautify ignore:start -->

@{

    var currentController = ViewContext.RouteData.Values["Controller"]?.ToString();
    var currentAction = ViewContext.RouteData.Values["Action"]?.ToString();

    var userEmail = User.FindFirst("UserEmail")?.Value ?? "Mailsiz kullanıcı";
    var photoUrl = User.FindFirst("PhotoUrl")?.Value ?? "/images/profiles/default.webp";
    var role = User.FindFirst(ClaimTypes.Role)?.Value ?? "Kullanıcı";

    var areaName = role;

    string roleTr = role switch
    {
        "Academician" => "Akademisyen",
        "Company" => "Şirket",
        "Institution" => "Kurum",
        "Student" => "Öğrenci",
        _ => "Kullanıcı"
    };
}

<html lang="en"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="~/themes/sneat-1.0.0/assets/"
      data-template="vertical-menu-template-free">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Teknosip - @roleTr</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="~/images/site/teknosip-logo.png" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="~/themes/sneat-1.0.0/assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="~/themes/sneat-1.0.0/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="~/themes/sneat-1.0.0/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="~/themes/sneat-1.0.0/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="~/themes/sneat-1.0.0/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <link rel="stylesheet" href="~/themes/sneat-1.0.0/assets/vendor/libs/apex-charts/apex-charts.css" />

    <!-- Page CSS -->
    <!-- Helpers -->
    <script src="~/themes/sneat-1.0.0/assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="~/themes/sneat-1.0.0/assets/js/config.js"></script>
</head>

<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Menu -->
            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

                <div class="app-brand demo">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="app-brand-link">

                        <span class="app-brand-logo demo">
                            <img src="~/images/site/teknosip-logo.png" alt="Teknosip Logo" width="32" />
                        </span>

                        <span class="app-brand-text demo menu-text fw-bolder ms-2" font-size: 1.4rem; letter-spacing: 1px;">
                            Teknosip
                        </span>

                    </a>

                    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                        <i class="bx bx-chevron-left bx-sm align-middle"></i>
                    </a>
                </div>

                <div class="menu-inner-shadow"></div>

                <ul class="menu-inner py-1">



                    <!-- Dashboard -->
                    <li class="menu-item @(currentController == "Home" && currentAction == "Index" ? "active" : "")">
                        <a asp-area="@areaName" asp-controller="Home" asp-action="Index" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-home"></i>
                            <div data-i18n="Analytics">Sayfam</div>
                        </a>
                    </li>







                    <!-- Components -->
                    <li class="menu-header small text-uppercase"><span class="menu-header-text">İLETİŞİM</span></li>



                    <li class="menu-item @(currentController == "Message" ? "active open" : "")">

                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bx-envelope"></i>
                            <div data-i18n="Account Settings">Mesajlar</div>
                        </a>

                        <ul class="menu-sub">
                            <li class="menu-item @(currentController == "Message" && currentAction == "Index" ? "active" : "")">
                                <a asp-area="" asp-controller="Message" asp-action="Index" class="menu-link">
                                    <div data-i18n="Account">Gelen Mesajlar</div>
                                </a>
                            </li>

                            <li class="menu-item @(currentController == "Message" && currentAction == "Sent" ? "active" : "")">
                                <a asp-area="" asp-controller="Message" asp-action="Sent" class="menu-link">
                                    <div data-i18n="Connections">Giden Mesajlar</div>
                                </a>
                            </li>

                            <li class="menu-item @(currentController == "Message" && currentAction == "Send" ? "active" : "")">
                                <a asp-area="" asp-controller="Message" asp-action="Send" class="menu-link">
                                    <div data-i18n="Notifications">Mesaj Gönder</div>
                                </a>
                            </li>


                        </ul>

                    </li>



                    <li class="menu-item @(currentController == "Notification" ? "active" : "") ">
                        <a asp-area="" asp-controller="Notification" asp-action="Index" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-bell"></i>
                            <div data-i18n="Basic">Bildirimler</div>
                        </a>
                    </li>


                    <!-- Hesap -->
                    <li class="menu-header small text-uppercase"><span class="menu-header-text">HESAP</span></li>
                    <!-- Profile -->
                    <li class="menu-item @(currentController == "Profile" ? "active" : "") ">
                        <a asp-area="@areaName" asp-controller="Profile" asp-action="Index" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-buildings"></i>
                            <div data-i18n="Basic">Profil</div>
                        </a>
                    </li>


                </ul>
            </aside>
            <!-- / Menu -->
            <!-- Layout container -->
            <div class="layout-page">

                <!-- Navbar -->
                <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme" id="layout-navbar">

                    <!-- Mobil Menü Açma İkonu (Gizli/Görünür) -->
                    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                            <i class="bx bx-menu bx-sm"></i>
                        </a>
                    </div>

                    <!-- Sağ Taraf Menü İçeriği -->
                    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">

                        <!-- ms-auto ile her şeyi SAĞA yaslıyoruz -->
                        <ul class="navbar-nav flex-row align-items-center ms-auto gap-2">

                            <!--  MESAJLAR  -->
                            @await Component.InvokeAsync("MessageDropdown")

                            <!--  BİLDİRİMLER -->
                            @await Component.InvokeAsync("NotificationDropdown")

                            <!--KULLANICI PROFİLİ-->

                            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                                <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                                    <div class="avatar avatar-online">
                                        <img src="@photoUrl" alt="Profil Fotoğrafı" class="w-px-40 h-auto rounded-circle" style="object-fit:cover;" />
                                    </div>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a class="dropdown-item" asp-area="@areaName" asp-controller="Profile" asp-action="Index">
                                            <div class="d-flex">
                                                <div class="flex-shrink-0 me-3">
                                                    <div class="avatar avatar-online">
                                                        <img src="@photoUrl" alt="Profil Fotoğrafı" class="w-px-40 h-auto rounded-circle" style="object-fit:cover;" />
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <span class="fw-semibold d-block">@userEmail</span>
                                                    <small class="text-muted">
                                                        @roleTr
                                                    </small>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="@areaName" asp-controller="Profile" asp-action="Index">
                                            <i class="bx bx-user me-2"></i>
                                            <span class="align-middle">Profilim</span>
                                        </a>
                                    </li>
                                    @*<li>
                                            <a class="dropdown-item" asp-area="@areaName" asp-controller="Settings" asp-action="Index">
                                                <i class="bx bx-cog me-2"></i>
                                                <span class="align-middle">Ayarlar</span>
                                            </a>
                                        </li>*@
                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="Auth" asp-action="Logout">
                                            <i class="bx bx-power-off me-2 text-danger"></i>
                                            <span class="align-middle text-danger">Çıkış Yap</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!-- /KULLANICI PROFİLİ -->

                        </ul>
                    </div>
                </nav>
                <!-- / Navbar -->
                <!-- / Navbar -->
                <!-- Content wrapper -->
                <div class="content-wrapper">
                    <!-- Content -->
                    <div class="container-xxl flex-grow-1 container-p-y">
                        @RenderBody()
                    </div>
                    <!-- / Content -->
                    <!-- Footer -->
                    <footer class="content-footer footer bg-footer-theme">
                        <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                            <div class="mb-2 mb-md-0">
                                ©
                                <script>document.write(new Date().getFullYear());</script>
                                , made with by
                                <a href="https://themeselection.com" target="_blank" class="footer-link fw-bolder">ThemeSelection</a>
                            </div>

                        </div>
                    </footer>
                    <!-- / Footer -->

                    <div class="content-backdrop fade"></div>
                </div>
                <!-- Content wrapper -->
            </div>
            <!-- / Layout page -->
        </div>

        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="~/themes/sneat-1.0.0/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="~/themes/sneat-1.0.0/assets/vendor/libs/popper/popper.js"></script>
    <script src="~/themes/sneat-1.0.0/assets/vendor/js/bootstrap.js"></script>
    <script src="~/themes/sneat-1.0.0/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="~/themes/sneat-1.0.0/assets/vendor/js/menu.js"></script>
    <!-- endbuild -->
    <!-- Vendors JS -->
    <script src="~/themes/sneat-1.0.0/assets/vendor/libs/apex-charts/apexcharts.js"></script>

    <!-- Main JS -->
    <script src="~/themes/sneat-1.0.0/assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="~/themes/sneat-1.0.0/assets/js/dashboards-analytics.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <script>function markAllNotificationsAsRead() {
            $.ajax({
                url: '/Notification/MarkAllAsRead',
                type: 'POST',
                success: function (data) {
                    if (data.success) {
                        // Rozetleri SİLME, içini 0 yap ve GİZLE
                        $('#unread-badge-main').text('0').hide();
                        $('#unread-badge-header').text('0 Yeni').hide();

                        // Noktaları gizle ve arka planları beyaza çevir
                        $('.unread-dot').hide();
                        $('.notification-item-unread')
                            .removeClass('notification-item-unread bg-lighter')
                            .css('background', 'transparent');

                        // Tüm açık zarfları kapalı zarf yap (Okunmadı olarak işaretlenebilir hale getir)
                        $('.bx-envelope-open')
                            .removeClass('bx-envelope-open')
                            .addClass('bx-envelope')
                            .attr('title', 'Okunmadı İşaretle');
                    }
                },
                error: function () {
                    console.error("Tüm bildirimler okundu işaretlenirken bir hata oluştu.");
                }
            });
        }

        function markAllMessagesAsRead() {
            $.ajax({
                url: '/Message/MarkAllAsRead',
                type: 'POST',
                success: function (data) {
                    if (data.success) {
                        // Rozetleri SİLME, içini 0 yap ve GİZLE
                        $('#unread-message-badge-main').text('0').hide();
                        $('#unread-message-badge-header').text('0 Yeni').hide();

                        // Noktaları gizle ve arka planları beyaza çevir
                        $('.unread-message-dot').hide();
                        $('.message-item-unread')
                            .removeClass('message-item-unread bg-lighter')
                            .css('background', 'transparent');

                        // Tüm açık zarfları kapalı zarf yap (Okunmadı olarak işaretlenebilir hale getir)
                        $('.bx-envelope-open')
                            .removeClass('bx-envelope-open')
                            .addClass('bx-envelope')
                            .attr('title', 'Okunmadı İşaretle');
                    }
                }
            });
        }</script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>


